@{
    ViewData["Title"] = "Create";
}
<div class="container info">
    <h1>Create</h1>
    <div class="slider-content">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
        </div>
        <a class="btn btn-primary">Submit</a>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>

</div>