@model Event
@{
    ViewData["Title"] = "Deatil";
}

<div class="container info">
    <p>Event Detail</p>
    <div class="slider-content">
      <h1>@Model.Title</h1>
        <h1>@Model.Subtitle</h1>

    </div>
    <a class="btn btn-outline-info" asp-action="Index"> <------ Back</a>
</div>

