@model Event
@{
    ViewData["Title"] = "Edit";
}

<div class="container info">
    <h1>Event Edit</h1>
    <div class="slider-content">
        
    </div>
    <a class="btn btn-primary">Submit</a>
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
</div>
