@model Course
@{
    ViewData["Title"] = "Deatil";
}

<div class="container my-5">
    <form class="forms-sample" asp-action="Create" >

        <div class="form-group mt-5">
            <label for="formFile" class="form-label"><b>Title</b></label>
            <input class="form-control" disabled type="text" id="formFile" asp-for="Title">

        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label"><b>Description</b></label>
            <input class="form-control" disabled type="text" id="formFile" asp-for="Description">

        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label"><b>Price</b></label>
            <input class="form-control" disabled type="text" id="formFile" asp-for="Price">
        </div>



        <div class="form-group mt-5">
            <label for="formFile" class="form-label"><b>Author</b></label>
            <select class="form-control"  id="formFile" asp-for="AuthorId" asp-items="@ViewBag.authors"></select>

        </div>

        <div class="form-group mt-5">
            <label for="formFile" class="form-label"><b>Photos</b></label>
            @foreach (var item in Model.Images)
            {
                <img src="~/images/@item.Image" style="width:150px;height:150px;" />

            }
        </div>
        <div class="buttons my-3">
    
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>


