
@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="container" style="margin-top:155px;">
    <div class="alert alert-success" role="alert">
        PLEASE Check Your Email For Confirmed!
    </div>
</div>

